body {
    background-color: #eff5f8
  }
  
  button {
    background-color: #9c9e9d; 
    border: 4px solid rgb(243, 241, 245); 
    border-radius: 25px;
    color: rgb(5, 5, 5); 
    padding: 10px 24px;
    cursor: pointer;
    width: 20%; 
    display: block; 
    margin: auto;
  }
  
  button:not(:last-child) {
    border-bottom: none; 
  }
  
  button:hover {
    background-color: #2f1647;
    color: white
  }
    
  input {
    background-color: #f7f7f7;
    }
  
  .wrapper {
    padding-top: 20px;
  }

  .header-font {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .body-font {
    font-size: 25px;
    text-align: center;
  }
  
  .container {
      display: block;
      margin: 40px auto;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 60vw;
      background-color: #f0ead6;
    }
  
  .card-contents {
      padding: 5px 5px 30px 5px;
    }
  
  #initials,
  #submit {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 20px;
      box-sizing: border-box;
      font-size: 18px;
    }
  
  #response {
        padding-bottom: 30px;
    }

  h2 {
    text-align: center;
  }
  
  .gameStart {
    margin: auto;
  }

  #countdown {
    font-size: 24px;
    text-align: right
  }

  main {
    display: none;
  }


  